-i https://pypi.org/simple
bs4
jupyter
pandas
pendulum
prefect
prefect-github
requests
sqlalchemy
pymysql
selenium
numpy
google-cloud-bigquery
google-cloud-storage
opencc-python-reimplemented
bigframes
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
prefect-gcp


